<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ConfirmUser_servlet</servlet-name>
        <servlet-class>Controller.ConfirmUser_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrectPass_servlet</servlet-name>
        <servlet-class>Controller.CorrectPass_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser_servlet</servlet-name>
        <servlet-class>Controller.CreateUser_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExistUser_servlet</servlet-name>
        <servlet-class>Controller.ExistUser_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote_servlet</servlet-name>
        <servlet-class>Controller.Vote_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>Controller.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser_servlet</servlet-name>
        <servlet-class>Controller.DeleteUser_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Results_servlet</servlet-name>
        <servlet-class>Controller.Results_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Census_servlet</servlet-name>
        <servlet-class>Controller.Census_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClosePoll</servlet-name>
        <servlet-class>Controller.ClosePoll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmUser_servlet</servlet-name>
        <url-pattern>/ConfirmUser_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrectPass_servlet</servlet-name>
        <url-pattern>/CorrectPass_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser_servlet</servlet-name>
        <url-pattern>/CreateUser_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistUser_servlet</servlet-name>
        <url-pattern>/ExistUser_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote_servlet</servlet-name>
        <url-pattern>/Vote_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser_servlet</servlet-name>
        <url-pattern>/DeleteUser_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Results_servlet</servlet-name>
        <url-pattern>/Results_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Census_servlet</servlet-name>
        <url-pattern>/Census_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClosePoll</servlet-name>
        <url-pattern>/ClosePoll</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
